@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Content>
@if (TempData["error1"] != null)
{
<div class="container">
    <div class="bg-info p-3">
        <h3>@TempData["error1"].ToString()</h3>
    </div>
    <br />
</div>
   
}

@foreach (var item in Model)
{
    <div class="col-sm-12 col-md-4">
        <div class="card mb-5 bg-dark p-4 text-center">
            <h5 class="card-title pt-3 pl-3 pb-1 font-weight-bold text-white">@item.Name</h5>
            <img class="card-img-top" src="@item.Image" alt="Card image cap" style="width:100%; height:30vh; max-height:30vh">
            <div class="card-body">
                <p class="card-text text-white"><strong>IMDB :</strong> @item.IMBD /<strong> Year :</strong> @item.Year.ToString("yyyy") </p>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ContentID" class="btn btn-outline-info">Details</a>
            </div>
        </div>
    </div>
}


